body {
    font-family: 'Lato', sans-serif;
    font-weight: bold;

    box-sizing: border-box;

    margin: 0px;
    padding: 0px;
}

.navbar {
    /* border: 3px solid rgb(255, 196, 255);  */
    /* background-color: rgb(206, 255, 206); */
    display: flex;
}

.navbar ul {
    display: flex;
    width: 20%;
    justify-content: space-between;

}

.navbar ul li {
    list-style-type: none;
    padding: 10px;

    display: flex;
    align-items: center;

    /* border: 2px solid black; */

}

.navbar ul li a {
    text-decoration: none;
    color: black;


}

.navbar ul li a:hover {
    text-decoration: none;
    color: rgb(0, 128, 122);

}

.navbar ul li a img {
    height: 80px;
    width: 60px;

    display: flex;

    align-items: center;
}

#logo {
    height: 80px;
    width: 60px;

    display: flex;

    align-items: center;
}

#search {
    border: 2px solid black;
    border-radius: 5px;
}

#herosect {
    /* border: 2px solid rgb(196, 227, 255); */
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 0rem 5rem;
    
}

#herosect header {
    /* border: 2px solid rgb(255, 156, 255); */
    display: grid;

    grid-template-columns: 3fr 10fr 10fr 3fr;
    
}

#herosect:nth-child(3){
    grid-column-start: 3;
    grid-column-end: 4;
}

#herodiv{
    /* border: 2px solid rgb(255, 156, 255); */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    
}

#herosect header img {
    /* border: 2px solid rgb(255, 156, 255); */
}

#herosect header h1 {
    /* border: 2px solid rgb(255, 156, 255); */
    font-size: 3rem;
    margin: 42px;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    width: 20rem;
}

#heroimg {
    height: 70vh;
    width: 40vw;
    object-fit: contain;
    object-position: center;
}

#herosect header button {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* border: 2px solid rgb(255, 156, 255); */

    padding: 10px;
    margin-top: 20px;
}


#secticons{
    display: grid;
    
    grid-template-columns: 5fr 10fr 10fr 10fr 0fr;
    /* border: 2px solid rgb(255, 156, 255); */
    margin-top: 2rem;
}



#secticons div{
    /* border: 2px solid palegreen; */
    display: flex;
    align-items:center ;
    padding: 0rem 1rem;
}

#secticons div h3{
    font-weight: 300;
    font-size: 1rem ;
}

#secticons div img{
    height: 2rem;
    width: 4rem;

    color: palegreen;
}


/* Section Card */

#sectioncard{
    /* border:2px solid rgb(255, 156, 255); */
    margin-top: 2rem;

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
}

.boxcard{
    border: 3px solid rgb(236, 236, 236);

    border-radius: 1rem;

    display: flex;
    flex-direction: column;
}

.boxcard p{
    /* border: 3px solid rgb(230, 176, 179); */
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(236, 236, 236);
    border-radius: 1rem;
}

.boxcard p img{
    /* border: 3px solid rgb(230, 176, 179); */
    height: 40vh;
    width:10vw;

    background-color: rgb(236, 236, 236);

    object-fit: contain ;
}

.boxcard p:nth-child(2){
    /* border: 5px solid black; */
    width: 20vw;
    padding: 0px 10px;
    text-align: center;
    background-color: #fff;
}



















/* Phone.css (max-width: 640px) */
@media screen and (max-width:640px) {

    header {
        display: flex;
        flex-wrap: wrap;

        justify-content: center;
        align-content: center;

        height: 100%;
        width: 100%;
    }

    .navbar {
        border: 3px solid purple;
        /* background-color: green; */
        display: flex;

    }

    .navbar ul {
        border: 2px solid rgb(0, 128, 122);
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        padding: 0%;

    }

    .navbar ul li {
        border: 2px solid rgb(0, 128, 122);
    }

    #herosect header {
        border: 2px solid rgb(255, 156, 255);
        display: flex;

        flex-direction: row;
    }
    



    /* End of Phones.css */

}